# Папки и файлы, которые будут игнорироваться
node_modules/
dist/
.env

# Файлы и папки, которые нужно игнорировать в папке /public (если используется)
/public/uploads/

# Опционально: игнорирование логов Express
/logs/

# Опционально: игнорирование файлов конфигурации IDE
.vscode/
.idea/